.vscode
.DS_Store
Capture d’écran 2024-05-05 à 21.54.16.png
Capture d’écran 2024-05-05 à 22.03.34.png
Capture d’écran 2024-05-10 à 10.19.52.png
Capture d’écran 2024-05-10 à 10.34.59.png
customer_details_v1.csv
customer_details_with_distances_sao_paulo.csv
customer_details_with_distances.csv
Liste+de+requetes+SQL+pour+le+dashboard.pdf
olist.session.sql
requete_1
requete_2
requete_3
requete_4
requete_customer_details_v1
requete_customer_details_v2
livrables/